.custom-checkmark {
    display:inline-block;
    width: 15px;
    height:15px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.custom-checkmark .checkmark_circle {
    position: absolute;
    width:15px;
    height:15px;
    border-radius:11px;
    left:0;
    top:0;
}

.custom-checkmark .checkmark_stem {
    position: absolute;
    width:2px;
    height:9px;
    left:8px;
    top:2px;
}

.custom-checkmark .checkmark_kick {
    position: absolute;
    width:5px;
    height:2px;
    left:4px;
    top:9px;
}